<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="${title}">Bootstrap demo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/style.css}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<!--navbar-->
<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SmartContactManager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul style="margin-left: auto" class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}" href="#">Home</a>
        </li>
        <li class="nav-item align-center">

          <a th:disabled="${true}" class="nav-link active" aria-current="page"><span th:text="${user.name}"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--navbar-->
<div class="sidebar mt-2">
  <span onclick="toggleSideBar()" class="crossbtn">&times;</span>
  <a id="home" href="#" th:href="@{/user/index}" class="item"><i class="fas fa-home"></i>&nbsp;Home</a>
  <a id="viewContact" href="#" th:href="@{/user/showContacts/0}" class="item"><i class="fas fa-id-card-alt"></i>&nbsp;View Contacts</a>
  <a id="addContact" th:href="@{/user/addContact}" class="item"><i class="fas fa-pencil-alt"></i> &nbsp;Add Contacts</a>
  <a id="profile" href="#" th:href="@{/user/profile}" class="item"><i class="fas fa-user-circle"></i> &nbsp;Your Profile</a>
  <a id="settings" href="#" th:href="@{/user/settings}" class="item"><i class="fas fa-cogs"></i> &nbsp;Settings</a>
  <a href="#" th:href="@{/logout}" class="item"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>
  <div class="divider"></div>
</div>
<div class="content mt-5">
  <i onclick="toggleSideBar()" class="fas fa-bars menuicon"></i>
  <div th:if="${session.message}" class="container">
    <div th:classappend="${'alert-'+session.message.type}" class="alert text-center container" role="alert">
           <span th:text="${session.message.content}"></span>
    </div>
    <th:block th:text="${@removeMessageFromSession.removeSession()}"></th:block>
  </div>
  <div th:replace="${content}"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<!--&lt;!&ndash;<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>&ndash;&gt; use it above show that sidebar active can show easily-->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  const swalWithBootstrapButtons = Swal.mixin({
    customClass: {
      confirmButton: "btn btn-success",
      cancelButton: "btn btn-danger"
    },
    buttonsStyling: false
  });
  function deleteContact(cid){
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!"
    }).then((result) => {
      if (result.isConfirmed) {
        window.location = "/user/delete/"+cid;
      }else if(result.dismiss === Swal.DismissReason.cancel) {
        swalWithBootstrapButtons.fire({
          title: "Cancelled",
          text: "Your imaginary file is safe :)",
          icon: "error"
        });
      }
    });
  }
</script>

<script th:src="@{/js/script.js}"></script>
</body>
</html>