<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}" >Title</title>
    <style>

    </style>
</head>
<body>
<section class="about">
    <h1 class="about-head">Welcome to our Smart Contact Manager!</h1>
    <div>
        <p>Our Smart Contact Manager is a handy tool that helps you keep all your contacts organized. You can add details like names, phone numbers, emails, and even pictures. If any of your contacts change their info, don't worry - you can easily update it.</p>
        <p>We've made it super easy to find the contacts you need. Just type a name or any other info into the search bar, and voila! Your contact pops up instantly.</p>
        <p>Plus, your data's safety is our priority. We've built in security measures to keep your info safe from prying eyes.</p>
        <p>Whether you're managing a few contacts or a whole bunch, our Smart Contact Manager makes it a breeze. Say goodbye to messy address books and hello to organized simplicity!</p>
        <p>Ready to take control of your contacts? Try out our Smart Contact Manager today!</p>
    </div>
</section>
</body>
</html>
