<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Signup Page</title>
</head>
<body>
<section class="">
       <div class="container">
           <div class="row">
               <div class="col-md-8 offset-md-2">
                   <div class="my-card mt-1">
                       <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-primary" role="alert">
                           <p th:text="${session.message.content}"></p>
                       </div>
                       <th:block th:text="${@removeMessageFromSession.removeSession()}"></th:block>


                       <h1 class="text-center">Register Here</h1>
                       <form  action="" th:action="@{/do_register}" method="post" th:object="${user}">
                           <div class="form-group">
                               <label for="name" class="form-label">Your Name</label>
                               <input name="name" th:value="${user.name}" type="text"  class="form-control" th:classappend="${#fields.hasErrors('name')?'is-invalid':''}" id="name" placeholder="Enter your Name" required/>
                               <div class="invalid-feedback" th:each="error : ${#fields.errors('name')}" th:text="${error}">
                               </div>

                           </div>
                           <div class="form-group">
                               <label for="email" class="form-label">Your Email</label>
                               <input name="email" th:value="${user.email}" type="email" class="form-control" id="email" placeholder="Enter your Email" required>

                           </div>
                           <div class="form-group">
                               <label for="password" class="form-label">Password</label>
                               <input name="password" type="password" class="form-control" id="password" placeholder="Enter your Password" required>
                           </div>

                           <div class="form-group my-3">
                               <textarea name="about" th:text="${user.about}" class="form-control" rows="10" placeholder="Enter something yourself"></textarea>
                           </div>
                           <div class="form-group form-check">
                               <input type="checkbox" name="agreement" class="form-check-input" id="agreement"/>
                               <label for="agreement">Accept terms and conditions</label>
                           </div>
                           <div class="container text-center">
                               <button type="submit" class="btn bg-primary text-white">Submit</button>
                               <button type="reset" class="btn btn-danger text-white">Reset</button>
                           </div>

                       </form>
                   </div>
               </div>
           </div>
       </div>
</section>
</body>
</html>